@charset "UTF-8";
/* CSS Document */
.container {
	width: 1200px;
	margin: 0 auto;
	background-color: aliceblue;
}
header{
	width:100%;
	text-align:center;
}
.flex-container > nav {
display:flex;
flex-direction:row;
  background-color: paleturquoise;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
.container {
	width:600px;
	margin: 0 auto;
	
}
.flex-container {
  display: flex;
  background-color: lavender;
}

.flex-container > div {
  background-color: paleturquoise;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
footer{
	width:100%;
	text-align:center;
}
